.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.alignLeft {
  float: left;
  text-align: left;
  margin-top: 0px;
}


.alignRight {
  float: right;
  text-align: right;
}

.alignDown {
  vertical-align: bottom;
}

.alignCenter {
  text-align: center;
  margin-top: 0px;
}

.navbarLink {
  /* hmpf just supress underscore in nested navbarLink in bottom most node of menu nav */
  text-decoration: none !important;
}

.navbar-nav li a {
  color: black;
}

.navbar-nav li a:hover {
  color: black;
}

.map-container {
  /*position: absolute;*/
  height: 50vh;
  /* width: 80vw; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: yellow;
}

/*Navigation stuff*/
.navbarHomeBtn {
  font-size: 12px !important;
  padding: 4px 2px 4px 2px !important;
  background-color: black;
  color: white !important;
  font-weight: bold;
}

.navbarItem {
  background-color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navRemoveUnderscoreInLinkA {
  text-decoration: none !important;
}

.navbarItem:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}

.navbarItemSelected {
  -webkit-filter: brightness(85%);
  -moz-filter: brightness(85%);
  -o-filter: brightness(85%);
  -ms-filter: brightness(85%);
  filter: brightness(85%);
}